// =============================================================================
// Config
// =============================================================================

$color--grid-col-even                  : rgba(10,10,10,0.1);
$color--grid-col-odd                   : rgba(245,245,245,0.1);
$color--grid-row-large                 : rgba(155,155,155,.18);
$color--grid-row-small                 : rgba(155,155,155,.09);
$spacing--grid-row-large               : 100px;
$spacing--grid-row-small               : 25px;
$font-size--grid                       : 14px;
