// =============================================================================
// Grid
// =============================================================================

.upfront-grid-border,
.upfront-overlay-grid {
	border: 0;
}

.upfront-overlay-grid {
	background: none !important;
}

.upfront-overlay-grid::before {
	@extend %pseudos;
	background: linear-gradient(to top, $color--grid-row-large 1px, transparent 1px, transparent);
	background-size: 100% $spacing--grid-row-large;
	z-index: 2;
}

.upfront-overlay-grid::after {
	@extend %pseudos;
	background: linear-gradient(to top, $color--grid-row-small 1px, transparent 1px, transparent);
	background-size: 100% $spacing--grid-row-small;
	z-index: 2;
}

.upfront-overlay-grid .upfront-grid-border:nth-child(odd) {
	background-color: rgba(255,255,255,0.1);
}

.upfront-overlay-grid .upfront-grid-border:nth-child(even) {
	background-color: rgba(0,0,0,0.1);
}

.upfront-overlay-grid .c1 {
	font-size: $font-size--grid;
}
